<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Calculadora de IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">
        <ion-item>
          <ion-label position="fixed">Peso (kg)</ion-label>
          <ion-input type="number" [(ngModel)]="weight"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Altura (m)</ion-label>
          <ion-input type="number" [(ngModel)]="height"></ion-input>
        </ion-item>

        <ion-button color="dark" expand="block" class="ion-margin-top" (click)="onCalculate()">
          Calcular
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modificações para Atividade 5 -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">

        <ion-item color="primary">
          <ion-label class="ion-text-center" >
            <h2 style="letter-spacing: 0.1rem">INTERPRETAÇÃO DO IMC</h2>
            </ion-label>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-col>IMC</ion-col>
          <ion-col>CLASSIFICAÇÃO</ion-col>
          <ion-col>OBESIDADE</ion-col>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-col>Menor que 18,5 </ion-col>
          <ion-col>Magreza</ion-col>
          <ion-col>0</ion-col>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-col>Entre 18,5 e 24,9 </ion-col>
          <ion-col>Normal</ion-col>
          <ion-col>0</ion-col>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-col>Entre 25 e 29,9 </ion-col>
          <ion-col>Sobrepeso</ion-col>
          <ion-col>I</ion-col>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-col>Entre 30 e 39,9 </ion-col>
          <ion-col>Obesidade</ion-col>
          <ion-col>II</ion-col>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-col>Maior que 40,0 </ion-col>
          <ion-col>Obesidade Grave</ion-col>
          <ion-col>III</ion-col>
        </ion-item>

        </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Fim Modificações para Atividade 5 -->

</ion-content>